@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: btn;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: Raleway;
  background-color: #fff7ea;
  perspective: 300px;
}

header {
  margin: 30px 110px 150px 0;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header nav a {
  margin-left: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: rgb(47, 47, 47);
  position: relative;
}
header nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  border-radius: 4px;
  background: linear-gradient(#856d47, #d4c6ae);
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
header nav a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

main {
  margin-bottom: 100px;
}
main .flex {
  display: flex;
  justify-content: space-between;
}
main .left-side {
  margin-left: 70px;
}
main .img {
  width: 400px;
  height: 400px;
  margin-right: 150px;
  border-radius: 230px;
}
main h1 {
  width: 822px;
  height: 210px;
  font-size: 64px;
  font-weight: bold;
  line-height: 70px;
  color: rgb(47, 47, 47);
  margin-bottom: 20px;
}
main p {
  width: 594px;
  height: 108px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgb(47, 47, 47);
  letter-spacing: -0.5px;
}
main ul {
  font-size: 21px;
  font-weight: 500;
  width: 650px;
}
main li {
  list-style: inside;
  margin-bottom: 10px;
  line-height: 1.5;
}
main .btn {
  margin-left: 70px;
  width: 594px;
  height: 70px;
  font-family: raleway;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background-color: #856d47;
  border-radius: 20px;
  border: 0;
  transition: background-color 1s, opacity 0.5s linear;
  opacity: 1;
}
main .btn:hover {
  background-color: #a88a5a;
}
main .contacts {
  display: flex;
  align-items: center;
  margin-left: 70px;
  opacity: 0;
  transition: opacity 1s linear;
  width: 860px;
  height: 90px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
main .contacts::before {
  content: "";
  width: 100%;
  height: 120%;
  position: absolute;
  z-index: -2;
  background: linear-gradient(#856d47, #d4c6ae);
  -webkit-animation: rotate1 6s linear infinite;
          animation: rotate1 6s linear infinite;
}
main .contacts:hover:before {
  background: linear-gradient(#856d47, #d4c6ae);
  -webkit-animation: rotate1 6s linear infinite;
          animation: rotate1 6s linear infinite;
}
main .contacts::after {
  content: "";
  z-index: -2;
  background-color: #fff7ea;
  position: absolute;
  border-radius: 20px;
  inset: 4px;
}
@-webkit-keyframes rotate1 {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg);
  }
}
@keyframes rotate1 {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg);
  }
}
main .contacts__email {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: #2f2f2f;
  margin-right: 50px;
  padding-left: 10px;
}
main .contacts__social_link {
  border-radius: 50%;
  transition: 250ms;
  width: 60px;
  height: 60px;
  margin-left: 36px;
  filter: sepia(70%);
}

.telegram:hover, .telegram:focus {
  background-color: rgba(0, 136, 204, 0.1);
  color: #0088cc;
  box-shadow: 0 0 24px 0 #0088cc;
  filter: sepia(0%);
}

.skype:hover, .skype:focus {
  color: #00aff0;
  box-shadow: 0 0 24px 0 #00aff0;
  filter: grayscale(0%);
}

.whatsapp:hover, .whatsapp:focus {
  color: #25d366;
  box-shadow: 0 0 24px 0 #25d366;
  filter: grayscale(0%);
}

.vk:hover, .vk:focus {
  color: #5e89bc;
  box-shadow: 0 0 24px 0 #6494cf;
  filter: grayscale(0%);
}

.instagram:hover, .instagram:focus {
  color: #e1306c;
  box-shadow: 0 0 24px 0 #e1306c;
  filter: grayscale(0%);
}

.about {
  width: 1000px;
  margin: 0 auto 150px;
}

.about-left {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-left: 70px;
  color: rgb(47, 47, 47);
  letter-spacing: -0.5px;
  position: relative;
  transform: translateX(-100px) translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}
.about-left.__active {
  transform: translateX(0) translateY(0);
  opacity: 1;
}

.about-right {
  margin-left: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
  margin-left: 70px;
  color: rgb(47, 47, 47);
  letter-spacing: -0.5px;
  position: relative;
  transform: translateX(100px) translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}
.about-right.__active {
  transform: translateX(0) translateY(0);
  opacity: 1;
}

.bubble-left {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  display: inline-block;
  max-width: 600px;
  position: relative;
  padding: 24px;
  margin: 0 auto 30px 0;
  background: #2f2f2f;
  border-radius: 40px;
  box-shadow: 2px 0px #2f2f2f;
  color: white;
}
.bubble-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #2f2f2f;
  border-right: 12px solid transparent;
  border-top: 12px solid #2f2f2f;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.bubble-right {
  margin-left: 200px;
  margin-right: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  position: relative;
  max-width: 600px;
  padding: 24px;
  margin: 0 0 30px auto;
  background: #856d47;
  border-radius: 40px;
  box-shadow: 2px 0px #856d47;
  color: white;
}
.bubble-right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 24px solid #856d47;
  border-top: 12px solid #856d47;
  border-bottom: 20px solid transparent;
  right: 32px;
  bottom: -24px;
}

.services {
  margin-bottom: 150px;
}

section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 40px;
  margin-bottom: 5px;
  background-color: #856d47;
  color: white;
  border-radius: 20px;
  box-shadow: 2px 0px #856d47;
}
section h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}
section p,
section ul,
section h3 {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}
section li {
  list-style: inside;
}

.first-flex-main-section {
  perspective: 300px;
}
.first-flex-main-section__right-side {
  perspective: 300px;
}

.second-main-flex-section {
  perspective: 300px;
}
.second-main-flex-section__left-side {
  perspective: 300px;
}

.individual-sessions {
  margin-left: auto;
  margin-right: auto;
  width: 731px;
  height: 288px;
  opacity: 0;
}
.individual-sessions.__animations {
  opacity: 1;
  -webkit-animation: arrive1 1s ease;
          animation: arrive1 1s ease;
}
@-webkit-keyframes arrive1 {
  0% {
    transform: translate3d(-1000px, -600px, 300px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
@keyframes arrive1 {
  0% {
    transform: translate3d(-1000px, -600px, 300px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
.individual-sessions h2 {
  text-align: center;
}
.individual-sessions__flex-container {
  display: flex;
  justify-content: space-between;
}
.individual-sessions__flex-container p {
  width: 320px;
  height: 170px;
}
.individual-sessions__flex-container h3 {
  margin-bottom: 20px;
}

.consultation-for-repetitors {
  width: 530px;
  height: 460px;
  margin-right: 5px;
  opacity: 0;
}
.consultation-for-repetitors.__animations {
  opacity: 1;
  -webkit-animation: arrive2 1s ease;
          animation: arrive2 1s ease;
}
@-webkit-keyframes arrive2 {
  0% {
    transform: translate3d(-1000px, -600px, 300px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
@keyframes arrive2 {
  0% {
    transform: translate3d(-1000px, -600px, 300px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
.consultation-for-repetitors p {
  width: 452px;
  height: 335px;
}
.consultation-for-repetitors__flex-container {
  display: flex;
  justify-content: space-between;
}

.consultation-for-specific-requests {
  width: 530px;
  height: 228px;
  opacity: 0;
}
.consultation-for-specific-requests.__animations {
  opacity: 1;
  -webkit-animation: arrive3 1s ease;
          animation: arrive3 1s ease;
}
@-webkit-keyframes arrive3 {
  0% {
    transform: translate3d(1000px, 600px, 300px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
@keyframes arrive3 {
  0% {
    transform: translate3d(1000px, 600px, 300px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
.consultation-for-specific-requests__flex-container {
  width: 475px;
  height: 84px;
}

.telegram-with-helpful-information {
  width: 530px;
  height: 228px;
  opacity: 0;
}
.telegram-with-helpful-information.__animations {
  opacity: 1;
  -webkit-animation: arrive4 1s ease;
          animation: arrive4 1s ease;
}
@-webkit-keyframes arrive4 {
  0% {
    transform: translate3d(1000px, 600px, 300px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
@keyframes arrive4 {
  0% {
    transform: translate3d(1000px, 600px, 300px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
.checklist-for-card-games {
  width: 530px;
  height: 228px;
  opacity: 0;
}
.checklist-for-card-games.__animations {
  opacity: 1;
  -webkit-animation: arrive5 1s ease;
          animation: arrive5 1s ease;
}
@-webkit-keyframes arrive5 {
  0% {
    transform: translate3d(-1000px, 600px, 300px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
@keyframes arrive5 {
  0% {
    transform: translate3d(-1000px, 600px, 300px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
.checklist-with-useful-stuff {
  width: 530px;
  height: 228px;
  opacity: 0;
}
.checklist-with-useful-stuff.__animations {
  opacity: 1;
  -webkit-animation: arrive6 1s ease;
          animation: arrive6 1s ease;
}
@-webkit-keyframes arrive6 {
  0% {
    transform: translate3d(-1000px, 600px, 300px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
@keyframes arrive6 {
  0% {
    transform: translate3d(-1000px, 600px, 300px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
.telegram-with-textbooks-and-materials {
  width: 530px;
  height: 460px;
  margin-left: 5px;
  opacity: 0;
}
.telegram-with-textbooks-and-materials.__animations {
  opacity: 1;
  -webkit-animation: arrive7 1s ease;
          animation: arrive7 1s ease;
}
@-webkit-keyframes arrive7 {
  0% {
    transform: translate3d(1000px, 600px, 300px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
@keyframes arrive7 {
  0% {
    transform: translate3d(1000px, 600px, 300px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
.telegram-with-textbooks-and-materials__flex-container {
  width: 460px;
  height: 307px;
}

.first-flex-main-section {
  display: flex;
  justify-content: center;
}
.first-flex-main-section__right-side {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.second-main-flex-section {
  display: flex;
  justify-content: center;
}
.second-main-flex-section__left-side {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer {
  padding-left: 120px;
  margin-top: 90px;
}

.reviews {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.reviews__flex {
  display: flex;
  justify-content: center;
  perspective: 300px;
}
.reviews .box-left {
  margin-right: 40px;
  margin-bottom: 20px;
  opacity: 0;
  transition: 1s all ease;
}
.reviews .box-left.__animations {
  opacity: 1;
  -webkit-animation: arrive8 1s ease;
          animation: arrive8 1s ease;
}
@-webkit-keyframes arrive8 {
  0% {
    transform: translate3d(-1000px, 600px, 300px) rotateX(60deg) rotateY(60deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
@keyframes arrive8 {
  0% {
    transform: translate3d(-1000px, 600px, 300px) rotateX(60deg) rotateY(60deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
.reviews .box-right {
  margin-right: 40px;
  margin-bottom: 20px;
  opacity: 0;
  transition: 1s all ease;
}
.reviews .box-right.__animations {
  opacity: 1;
  -webkit-animation: arrive9 1s ease;
          animation: arrive9 1s ease;
}
@-webkit-keyframes arrive9 {
  0% {
    transform: translate3d(1000px, 600px, 300px) rotateX(60deg) rotateY(60deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
@keyframes arrive9 {
  0% {
    transform: translate3d(1000px, 600px, 300px) rotateX(60deg) rotateY(60deg);
  }
  100% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg);
  }
}
.reviews img {
  border-radius: 20px;
  width: 315px;
  height: 560px;
  transition: 0.3s linear;
}
.reviews img:hover {
  transition: 0.3s linear;
  width: 360px;
  height: 640px;
}
