@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: Georgia, Raleway;
}

.bg {
  background-image: url(/src/img/bg.jpg);
  background-size: cover;
  max-width: 100%;
  height: 100%;
}

main {
  padding: 80px 0 0 120px;
}
main h2 {
  font-family: Raleway;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 14px;
}
main h1 {
  font-family: inherit;
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 20px;
}
main ul {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  width: 460px;
}
main li {
  list-style: inside;
  margin-bottom: 10px;
}

footer {
  padding-left: 120px;
  margin-top: 90px;
}
footer .email {
  display: inline-block;
  font-family: raleway;
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
footer .social_link {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
